<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>Resister</title>
</head>
<style>
    #do{
    margin: 0%;
    background-image: url(static/bg/pg1.jpeg);
    background-repeat: no-repeat;
    background-size: 100% 100%;

  }
</style>

<body>
  <div class="container-fluid">
    <a href="{{url_for('public.home')}}"><h2>Home</h2></a>
  </div>
 
  <hr>

{% block login %}

    <div style="margin: 0%; padding: 10px;" class="row align-items-center justify-content-around">

      <div class="col-md-6 col-sm-3">
        <h3>Register Here:-  </h3>
      </div>

      <div id="do" class="col-md-5 col-sm-3">
        <form class="" action="" method="post">
          <label  for="">First Name</label>
          <input class="form-control" type="text" name="fname" id=""><br>

          <label  for="">Last Name</label>
          <input class="form-control" type="text" name="lname" id=""><br>

          <label  for="">Email</label>
          <input class="form-control" type="text" name="email" id=""><br>

          <label  for="">Password</label>
          <input class="form-control" type="text" name="password" id=""><br>

          <input class="btn btn-success" type="submit" value="Submit">
        </form>
        <br>

        <a href="{{url_for('public.login_me')}}">Login</a>
      </div>



    </div>




{% endblock %}
</body>
</html>