{% extends "index.html" %}
{% block category %}

  <div style="margin: 0%; background-color: black;" class="row row-cols-md-3">
    {% for i in x: %}
      <div class="col sm-1 p-5">
          <div class="p-3 card " id="demo">
            <img class="card-img-top" src="/static/{{i[4]}}.png" alt="imgs">

              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center">{{i[2]}}</h5>
                <p class="card-title d-flex justify-content-center">{{i[3]}}</p>
              </div>

              <div class="d-flex justify-content-center">
                  <a href="{{url_for('category.sub_cat', id_f=i[0] )}}" class="card-link"> Documentation </a>
              </div>
          </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}