{% extends "index.html" %}
{% block category %}

  <div style="margin: 0%;" class="row row-cols-md-3">
    
      <div class="col sm-2 p-4">
          <div class="p-3 card " id="demo">
            <img class="card-img-top" src="/static/" alt="imgs">

              <div class="card-body">
                <h5 class="card-title d-flex justify-content-center"></h5>
              </div>

              <div class="d-flex justify-content-center">
                  <a href="{{ url_for('public.sub_cate.sub_cat')}}" class="card-link"> Documentation </a>
              </div>
          </div>
      </div>
    
  </div>
{% endblock %}