{% extends "index.html" %}
{% block content1 %}

    <div style="background-color: black; color: white;" class="d-flex justify-content-between">
    
      <div style="margin: 0%;" class="d-none d-xl-block col-xl-2 bd-toc">
        <ul class="section-nav">
          
            <li class="toc-entry toc-h2"><a href="#HERE1"> HERE1</a></li>
            <li class="toc-entry toc-h2"><a href="#HERE2"> HERE2</a></li>
          
        </ul>
      </div>
        
        
      <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
      
        <h2 id="HERE1">
            <div> 
                <a class="anchorjs-link" href="#HERE1" aria-label="Anchor" style="padding-left: 0.375em;">Somthing here</a>
            </div>
        </h2>
        <p>here another way to talk</p>
        

        <h2 id="HERE2">
            <div> 
                <a class="anchorjs-link" href="#HERE2" aria-label="Anchor" style="padding-left: 0.375em;">Somthing2 here</a>
            </div>
        </h2>
          
        <p> text here SOMTHING </p>
        
        <pre>
            <code class="language-SQL"> SELECT * FROM views </code>
        </pre>
      
      </main>
    
    </div>
{% endblock %}

    
