{% extends "index.html" %}
{% block content1 %}

    <h2> This is contents </h2>

    <h2> Any Sugestion about this topic you can Write it down for us with Your Insta Url. </h2>
    <form class="form-control" method="post">
        <label for="Id">Enter Your Insta ID: </label>
        <input class="form-control" type="text" name="id" id="" placeholder="Id..."><br>
        <input class="form-control" type="text" name="sug" id="" placeholder="Sugestion for us..."><br>

        <input class='btn btn-success' type="submit" value="Submit">
    </form>
{% endblock %}